/*mainpage : intro_sub_txt*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;

}

/* mainpage : 어플 소개 */

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.intro_app {
    position: relative;
    animation: fadeInLeft 3s;
    -webkit-animation: fadeInLeft 3s
}

/* mainpage : app_main_intro */
.main_intro_sensitive,
.main_intro_convenience{
    position: relative;
    animation: fadeInLeft 3s;
    -webkit-animation: fadeInLeft 3s
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.main_intro_function{
    position: relative;
    animation: fadeInRight 3s;
    -webkit-animation: fadeInRight 3s
}