/* 메뉴 상단바 영역 */
.header {
    height: 70px;
}

.search_input {
    height: 30px;
    background: none;
    border: 0px;
    border-bottom: 1px solid gray;
    margin: 30px 20px;
}

#search_icon {
    margin: -40px;
    padding: 0px;
    color: darkgray;
    cursor: pointer;
}

.menu {
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
}

.header>ul {
    margin: -50px 10px;
    padding: 0px;
    height: 30px;
    line-height: 25px;
    list-style: none;
}

.menu>li>a {
    text-decoration: none;
    color: gray;
}

#menu_txt {
    margin: 0px;
    padding: 0px 7px;
}

/* 로고 영역 */
.logo>a {
    max-width: 30%;
    height: auto;
}

.main_logo {
    display: block;
    max-width: 30%;
    height: auto;
    margin: 40px auto;
}

#sub_txt {
    margin-top: -8px;
    margin-bottom: 50px;
    text-align: center;
    font-style: italic;
    letter-spacing: 10px;
    word-spacing: 7px;
}

.main_photo {
    display: block;
    margin-bottom: 10px;
}

.film_img {
    display: block;
    max-width: 80%;
    height: auto;
    margin: 0px auto;
    border-radius: 25px;
}

/* 어플 소개 영역 */
.intro_app {
    display: inline-block;
    margin-top: 50px;
}

.intro_app>h1 {
    margin: 0px;
    font-size: 60px;
    letter-spacing: 8px;
    text-decoration: 2px overline;
}

.intro_app>h3 {
    margin: 0px;
    margin-bottom: 25px;
    letter-spacing: 15px;
}

.intro_app>p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 40px;
}

.intro_app>a {
    padding: 8px;
    font-size: 20px;
    color: gray;
    text-decoration: none;
    border: 1px solid;
    border-radius: 5px;
}

/* middle banner */
.middle_banner {
    margin: 40px -50px;
    display: block;
}

.middle_banner>img {
    display: block;
    width: 100%;
    height: 25px;
}

.app_img {
    display: flex;
    margin: 30px auto;
    text-align: center;
}

#ap_white_logo,
#app_white_circle_logo,
#app_sky,
#app_rainbow_black,
#app_black_logo,
#app_circle_black {
    display: block;
    max-width: 15%;
    height: auto;
    margin: 0px 7px;
}

/* 메인 소개 */
.main_intro_sensitive>h1,
.main_intro_function>h1,
.main_intro_convenience>h1 {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 60px;
    letter-spacing: 11px;
    text-decoration: 1px overline underline;
}

.main_intro_sensitive {
    margin: 50px auto;
}

.main_intro_function {
    display: block;
    max-width: 100%;
    margin-right: -50px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: right;
}

.main_intro_convenience {
    display: block;
    margin: 50px auto;
}

.main_intro_small_txt {
    font-size: 30px;
}

/* career */
.career {
    display: inline-block;
    width: 100%;
    height: 300px;
    background-image: url(../img/main_intro_function_back.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
    color: white;
    margin: 30px auto;
}

.career>ul {
    list-style: none;
    padding-left: 0px;
}

.career_title>h1 {
    font-size: 60px;
    text-decoration: 1px underline;
    text-underline-position: under;
    margin: 0px;
    padding: 20px 30px;
}

.career_contents {
    font-size: 20px;
    padding: 0px 50px;
}

.apply {
    float: left;
    text-align: center;
    padding: 7px;
    font-size: 20px;
    letter-spacing: 7px;
    margin: 25px 50px;
    border: 1px solid;
    border-radius: 7px;
    /*line-height: 45px;*/
    cursor: pointer;
}

/* news */
.news {
    display: inline-block;
    margin: 50px auto;
}

.news>h1 {
    margin: 0px auto;
}

.news_content {
    display: table;
    list-style: none;
    margin-top: 10px;
    padding-left: 0px;
    table-layout: fixed;
    width: 100%;
}

.news_content_1 {
    display: table-cell;
    vertical-align: middle;
    padding-right: 15px;
    border-right: 1px solid lightgray;
}

.news_content_2 {
    display: table-cell;
    vertical-align: middle;
    padding-left: 16px;
}

#news_1,
#news_2 {
    text-decoration-line: none;
    color: gray;

}

.news_1>h3,
.news_2>h3 {
    margin: 0px;
}

.news_1>h6,
.news_2>h6 {
    margin: 10px;
    font-size: 15px;
}

.news_1>p,
.news_2>p {
    font-size: 17px;
    margin: 0px;
}

/* .news, .contact */

.news>h1,
.contact>h1 {
    font-size: 70px;
    margin: 0px;
}

/* contact */
.contact {
    display: block;
    margin: 20px auto;
    width: 100%;
    height: auto;
}

.contact_contents {
    display: flex;
    list-style: none;
    padding: 30px 30px 30px 0px;
    margin: 0px;
    align-items: center;
}

.contact_logo {
    flex: 4;
    height: 65px;
    text-align: center;
    width: 25%;
    vertical-align: middle;
}

.contact_logo>img {
    width: 90px;
    height: 65px;
    vertical-align: middle;
}

.contact_txt {
    flex: 6;
    vertical-align: middle;
    border-left: 1px solid lightgray;
    padding-left: 50px;
}

.contact_button{
    float: left;
    text-align: center;
    letter-spacing: 5px;
    padding: 7px;
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 7px darkgray;
}