.wrapper{
    display: grid;
}

body{
    width: 1080px;
    padding: 0px;
    margin: 0px;
}

.header{
    background: skyblue;
    height: 50px;
}

.search_input{
    height: 20px;
    background: none;
    border: 0px;
    border-bottom: 1px solid darkgray;
    margin: 15px 20px;
}