
body {
   /* width: 1080px; */
    padding: 0px;
    margin: 0px 30px;
}

/* 메뉴 상단바 영역 */
.header {
    height: 70px;
}

.search_input {
    height: 30px;
    background: none;
    border: 0px;
    border-bottom: 1px solid;
    margin: 30px 20px;
}

#search_icon{
    margin: -40px;
    padding: 0px;
    color: darkgray;
    cursor: pointer;
}

.menu{
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
}

.header > ul{
    margin: -50px 10px;
    padding: 0px;
    height: 30px;
    line-height: 25px;
    list-style: none;
}

.menu > li> a{
    text-decoration: none;
}

#menu_txt{
    margin: 0px;
    padding: 0px 7px;
}

/* 로고 영역 */
.main_logo{
    display: block;
    max-width: 30%;
    height: auto;
    margin: 40px auto;
}

#sub_txt{
    margin-top: -8px;
    margin-bottom: 50px;
    text-align: center;
    font-style: italic;
    letter-spacing: 10px;
    word-spacing: 7px;
}

.main_photo{
    display: block;
    margin-bottom: 10px;
}

.film_img{
    display: block;
    max-width: 80%;
    height: auto;
    margin: 0px auto;
    border-radius: 25px;
}

/* 어플 소개 영역 */
.intro_app{
    display: inline-block;
    background-color: white;
    
    margin-top: 50px;
}

.intro_app > h1{
    margin: 0px;
    font-size: 60px;
    letter-spacing: 8px;
    text-decoration: 2px overline;
}

.intro_app > h3{
    margin: 0px;
    margin-bottom: 25px;
    letter-spacing: 15px;
}

.intro_app > p{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 40px;
}

.intro_app > a{
    padding: 8px;
    font-size: 20px;
    color: gray;
    text-decoration: none;
    border: 1px solid;
    border-radius: 5px;
}